div.main{
  height: 100vh;
}
div.head {
  height: 10%;
}
div.wrapper{
  margin-bottom: 30px;
}
div.row.station-input {
  margin-bottom: 15px;
}

div.wrapper input {
  text-align: center;
}

div#stations_nm {
}