.map > .circle {
  height: 50px;
  width: 50px;
  background-color: #555555;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.map {
  display:block;
  position: relative;
  border: 1px;
  background-color: #BBBBBB;
  height: 400;
  width: 400;
  margin: auto;
}
