{% load static %}
<!DOCTYPE html>
<html lang="ko-kr" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
  <link rel="stylesheet" href="{% static 'seoul/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'seoul/css/master.css' %}">
  <title></title>
</head>

<body>
<div class="container main">
  <div class="container head">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">더치웨이</h1>
      </div>
    </div>


    {% block content %}
    {% endblock %}


  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static 'seoul/js/bootstrap.min.js' %}"></script>
{% block script %}
{% endblock %}


</body>

</html>
