{% extends 'seoul/base.html' %}

{% block content %}
  <div class="container form-station-input">
      <form id="form-station" class="" action="{% url 'seoul:filter' %}" method="post">
        {% csrf_token %}
        <!-- 입력 필드 1개 시작 -->
        <div class="row station-input 0">
          <div class="col-xs-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="지하철 역 입력(ex.서울, 종로3가)" name="station-0">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" disabled="disabled">-</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>
        <!-- 입력 필드 1개 끝  -->
        <div class="row station-input 1">
          <div class="col-xs-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="지하철 역 입력(ex.서울, 종로3가)" name="station-1">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" disabled="disabled">-</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>

        <div class="row" id="add-station-row">
          <div class="col-xs-2 col-xs-offset-5">
            <p class="text-center" id="add-station"><span class="glyphicon glyphicon-plus"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block">다음</button>
          </div>
        </div>
      </form>
    </div>
  <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <hr>
          <h5><b>더치웨이란?</b></h5>
          <p>
            더치웨이는 N개의 지하철 역의 중간 지점(역)을 찾아주는 서비스입니다.
          </p>
          <hr>
          <p>Features To Add</p>
          <ul>
            <li>역 이름 정확히 하지 않았을 시 리다이렉트</li>
            <li>역 이름 호선-이름 리스트로 선택</li>
            <li>결과 자세히 확인하기</li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}


{% block script %}
  <script type="text/javascript">
    $("#add-station").click(function() {
      i = $(".station-input");
      var input = i.filter(".0").clone();
      var n = i.length;
      input.attr("name","station-"+n);
      input.find("input").attr("name","station-"+n);
      input.removeClass("0").addClass(n.toString());
      input.find("button").removeAttr("disabled");
      input.find("input").val("");
      input.css("display","none");
      input.insertBefore("#add-station-row");
      input.show("fast");
    });
    $("div.form-station-input").on("click", ".station-input button",function(){
      $(this).parents().filter(".station-input").hide("fast",function(){
        $(this).remove();
    })});
  </script>
{% endblock %}
